:root {
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Trebuchet MS", sans-serif;
}

/* Scrollbar Effect */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* End Scrollbar Effect */
.dot {
  display: inline-flex;
  /* Use flexbox */
  justify-content: center;
  /* Align content horizontally */
  align-items: center;
  /* Align items vertically */
  width: 75px;
  /* Adjust width as needed */
  height: 75px;
  /* Adjust height as needed */
  background-color: #08318d;
  /* Background color of the dot */
  border-radius: 50%;
  /* Make it round */
}

.row.category {
  margin: 2rem 0 0 0;
  padding: 2rem 22rem 2rem 22rem;
}

#icon {
  width: 50%;
  height: 50%;
}

.selected {
  background-color: green;
}

.row.form {
  margin: 3rem 2rem 3rem 2rem;
}

#floatingInput {
  border: 1px solid black;
}

#DataDiri {
  padding: 75px 50px 75px 50px;
  background: rgba(211, 211, 211, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(211, 211, 211, 0.3);
}

.c-frame {
  width: 50px;
}

tr {
  height: 3.5rem;
}

.unsur-pelayanan {
  padding: 25px 50px 25px 50px;
  background: rgba(211, 211, 211, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(211, 211, 211, 0.3);
}

.kuisioner {
  padding: 15px 10px 1px;
}

.kategori1,
.kategori2 {
  margin-left: 25px;
  font-size: 16px;
}

.bodykuis1 {
  border-radius: 15px;
  background-color: #ffedcb;
  border-right: 10px solid rgba(211, 211, 211, 0.7);
}

.bodykuis2 {
  border-radius: 15px;
  background-color: #ffedcb;
  border-left: 10px solid rgba(211, 211, 211, 0.7);
}
