body {
  padding: 0;
  margin: 0;
}

/* Scrollbar Effect */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* End Scrollbar Effect */
.section1 {
  height: 750px;
}

.section1 .content {
  display: flex;
  padding: 50px 0;
}

.resetpassword {
  position: relative;
  width: 500px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
    0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
    0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
}

.resetpassword img {
  width: 500px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 12px 0 0 13px;
}

.note h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 24px;
  color: #2b2b2f;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.note p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #5f5d6b;
}

#reset {
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 3px;
  color: white;
}

.formReset {
  width: 100%;
  height: 60px;
  padding: 0 0 0 12px;
  border: none;
  border: 3px solid grey;
  border-radius: 5px;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.formReset:focus {
  font-size: 17px;
  border: 3px solid grey;
}

input::placeholder {
  font-weight: 500;
}

.form-control button.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
  background-color: grey;
  box-shadow: 0px 0.5px 0.5px #efefef, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.custom-shape-divider-bottom-1709729084 {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709729084 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 180px;
}

.custom-shape-divider-bottom-1709729084 .shape-fill {
  fill: #d3d3d3;
}

.pemuat {
  width: 120px;
  height: 15px;
  border-radius: 20px;
  background: repeating-linear-gradient(135deg, #f03355 0 10px, #ffa516 0 20px)
      0/0% no-repeat,
    repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
  animation: l3 5s infinite;
  display: none;
}

@keyframes l3 {
  100% {
    background-size: 100%;
  }
}

.pemuatMengirim {
  font-size: 12px;
  margin-bottom: -10px;
}
