:root {
  --font-standart: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  font-family: var(--font-standart);
}

/* Scrollbar Effect */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* End Scrollbar Effect */

/* Section 1 Left Content */
.section1 .left-content {
  padding: 3rem 3rem 3rem 3rem;
  /* Atas, kanan, bawah, kiri */
}

.background {
  position: relative;
}

.img-desktop {
  width: 80%;
  position: absolute;
  top: 230px;
  left: 90px;
  z-index: 1;
  transform: scaleX(-1);
}

.custom-shape-divider-bottom-1709729084 {
  position: absolute;
  top: 145%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.custom-shape-divider-bottom-1709729084 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 130px;
  z-index: 1;
}

.custom-shape-divider-bottom-1709729084 .shape-fill {
  fill: #d3d3d3;
}

@media only screen and (min-width: 1536px) {
  .custom-shape-divider-bottom-1709729084 {
    top: 150%;
  }
}

.logo-perorangan {
  width: 20%;
  position: absolute;
  top: 540px;
  left: 550px;
  z-index: 1;
}

.margin-custom {
  margin-top: -20px;
  margin-bottom: 5px;
}

.main-form {
  padding: 3rem;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.row.form {
  margin-left: 0;
  margin-right: 0;
  height: 4in;
  flex-wrap: wrap;
  justify-content: center;
}

.row.form1 {
  margin-left: 0;
  margin-right: 0;
  height: 6in;
  flex-wrap: wrap;
  justify-content: center;
}

label b {
  font-weight: bold;
  color: red;
}

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(100, 100, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(224.3, 67.9%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(224.3, 67.9%, 39%) 0%,
    hsl(224.3, 67.9%, 49%) 8%,
    hsl(224.3, 67.9%, 39%) 92%,
    hsl(224.3, 67.9%, 29%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(224.3, 67.9%, 58%);
  padding: 10px 8px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.btn {
  border: none;
  width: 12.5em;
  height: 3.5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #ffff;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: black;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: black;
  font-size: medium;
}

.btn:hover {
  background: linear-gradient(0deg, #1d893b, #006f23);
  box-shadow:
    inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 30px 0px #1d893b;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}

/* End Section 1 Left Content */

/* Section 1 Right Content */
.section1 .right-content {
  background-size: cover;
  background-position: center;
  height: auto;
  width: 50%;
}

/* End Section 1 Right Content */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.2em;
  height: 1.6em;
  border-radius: 50px;
  border: none;
  background: linear-gradient(0deg, #a47cf3, #683fea);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 50px;
  width: 3.2em;
  height: 1.6em;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 0);
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

.eye-icon {
  cursor: pointer;
  position: absolute;
  right: 15px;
}
